<!DOCTYPE html>
<html>

<head>
    <% include ../../includes/header.ejs %>
        <link rel="stylesheet" type="text/css" href="/stylesheets/shoping.css" />
</head>

<body>
    <% include ../../includes/shopnav.ejs %>
        <main>
            <div>
                <% items.forEach(p => { %>
                    <div>
                        <div class="inside-cart" class="cart__item">
                            <h3>
                                <%= p.productId.title %>
                            </h3>
                            <h4>Quantity:
                                <%= p.quantity %>
                            </h4>
                        </div>
                        <form class="inside-cart" action="/cart/remove-item" method="POST">
                            <input type="hidden" name="id" value="<%= p.productId.id%>">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button type="submit" class="btn btn-danger">Remove Item</button>
                        </form>
                    </div>
                    <hr>
                    <% }); %>
            </div>

        </main>

</body>

</html>